body{
    background: #00B22D;
    color:#FFF;
}


.ele-center{
    margin: 5% auto 5% auto;
}

.capa-superior{
    margin-top: 30%; 
    height: 251px;
    width: 100%;
    z-index:1;
}

.capa-inferior{
    background: #FFF none repeat scroll 0 0;
    height: 245px;
    left: 126px;
    position: absolute;
    top: 20%;
    width: 185px;
    z-index: -1;
}

.botonera{
    position: absolute;
    bottom: 0px;
}