body{
    background: url('../images/bg.jpg') bottom center no-repeat #051127;
    background-size: 100%;
     
}


.ele-center{
    margin: 20% auto 5% auto;
}

.capa-superior{
    height: 251px;
    margin: 40% auto;
    position: relative;
    width: 300px;
    z-index: 1;
}

.capa-superior .capa-inferior{
    background: #fff none repeat scroll 0 0;
    height: 245px;
    left: 110px;
    position: absolute;
    top: 55px;
    width: 63%;
    z-index: -1;
    overflow: hidden !important;
}

.botonera{
    position: absolute;
    bottom: 10px;
    text-align: center;
    vertical-align: middle;
    width: 97%;
}

.botonera #btnCapture{
        background: url('../images/btn-capture.png') top center no-repeat;
        width: 56px;
        height: 56px;
        border: none;
        margin: 0px auto;
        display: block;
        text-indent: -99999999999px;
}