body{
    background: #00B22D;
    color:#FFF;
}


.ele-center{
    margin: 5% auto 5% auto;
}

.capa-superior{
    height: 251px;
    margin: 40% auto;
    position: relative;
    width: 300px;
    z-index: 1;
}

.capa-superior .capa-inferior{
    background: #fff none repeat scroll 0 0;
    height: 245px;
    left: 110px;
    position: absolute;
    top: 0;
    width: 63%;
    z-index: -1;
    overflow: hidden !important;
}

.botonera{
    position: absolute;
    bottom: 0px;
}